body {
  background: linear-gradient(to bottom, #ffffff, #A63EF6);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: gray;
}

#banner {
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 1180px;
  width: 310px;
  height: 60px;
}

#banner a {
  text-decoration: none;
  font-size: 21px;
  color: #B55EF7;
}

.container.menu {
  background-color: white; 
  width: 100%; 
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.left button{
  margin-right: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

button a {
  text-decoration: none;
  font-size: 16px;
}

button.svg {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 44px;
  height: 44px;
}

#menu-btn {
  background-color: black;
  border-radius: 25px;
  margin-left: 15px;
}

#menu-btn a {
  color: white;
}

#menu-btn svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

#reviews-btn {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #B55EF7;
}

#reviews-btn a {
  color: #B55EF7;
}

#lang {
  background-color: #B55EF7;
  border-radius: 20px;
  border: none;
  padding: 10px 14px;
  margin-bottom: 3px;
  cursor: pointer;
}

#lang a {
  color: white;
}

#lang img {
  width: 10px;
  height: 10px;
}

.about_us h2{
  color: #B55EF7;
}